*, *::before, *::after {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: black;
    padding: 5px;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar a {
    color: white;
    padding: 15px 10px;
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: normal;
}

.navbar a:hover {
    background-color: white;
    color: black;
}

.brand-and-image-container {
    display: flex;
    margin-top: 20px;
    margin-right: 100px;
}

.brand-container {
    display: flex;
    justify-content: flex-start;
}

.brand-container-3 {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-right: 100px;
}

.brand-container-2 {
    margin-top: 20px;
    background-color: white;
    margin-bottom: 30px;
    padding: 20px;
    padding-left: 40px;
    margin-left: 20px;
    max-width: 1000px; /* Adjust the maximum width as needed */
    word-wrap: break-word;
    width: 1400px;
}


.brand-text {
    color: white;
    margin-left: 30px;
    font-size: 200px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.brand-text-2 {
    color: black;
    font-size:60px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.long-Bar {
    margin-top: 20px;
    height: 200px;
    width: 20px;
    margin-left: 20px;
    margin-right: 20px;

    border: 1px solid white;
    background-color: white;
}

.flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.cover {
    background-color: black;
    color: white;
}

.highlight {
    color: black;
    background-color: white;
}

/* Style for the image container */
.image-container {
    width: 270px;
    height: 240px;
    background-image: url('Logo.png');
    background-size: cover;
    background-position: center;
    background-color: white;
    margin-left: 70px;
}
.brand-container-4 {
    margin-top: 20px;
    background-color: black;
    margin-left: 10px;
    padding: 10px;
    margin-right: 10px; /* Add a unit (e.g., px) */
}

.brand-text-4 {
    color: white;
    font-size: 20px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.brand-text-5 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style:normal;
    font-variation-settings:
      "slnt" 0;
      margin-bottom: 30px;

}
.italic{
    font-style: italic;
}
.white{
    color: white;

}
.Azure{
    color: rgb(74, 189, 212);
}
.brand-container {
    position: relative;
    left: 0;
  }

  .image-container {
    position: relative;
    top: 0;
  }

  .brand-container-2 {
    position: relative;
    left: 0;
  }

  .brand-container-4 {
    position: relative;
    right: 0;
  }
  .black-container{
    height: 100px;
    background-color: black;
    width: 100%;

  }
  .brand-container, .image-container, .brand-container-2, .brand-container-4, .long-Bar {
    will-change: transform;
}

.brand-container-5 {
    padding: 30px;
    width: 100%;
    height: 800px;
    background-color: white;
    color: white;
    position: relative;
    left: 0;
  }
